// mixins
@import "lib/lesshat.less";

/*------------ Typography ------------*/
.muted{
  font-size: 0.8em;
  color: #666;
  margin: 0;
  clear:both;
}

/*------------ Welcome Screen ------------*/
.connected-viewers-number{
  font-size: 0.8em;
  color: #666;
}
.asq-welcome-screen{
  text-align: center;
}

/*------------ Progress ------------*/
.asq-progress-info {
  margin: 0.4em;
}

/*------------ Tabs ------------*/
.tab-pane{
  overflow: hidden;
}
.tab-pane form, .tab-pane p{
  margin-left: 20px;
}

/*------------ Answer ------------*/
.answersolutions ol{
  padding-left: 60px;
}

/*------------ Submit answers ------------*/
.asq-submit-wait, .asq-submit-success {
  position: fixed;
  top: 50%;
  left: 0%;
  text-align: center;
  width: 100%;
  z-index: 998;
  display: none;
}
.asq-resubmit-btn {
  position: fixed;
  top: 88%;
  right: 5%;
  min-width: 15%;
  text-align: center;
  z-index: 998;
}
.asq-spinner {
  display: inline-block;
  vertical-align: bottom;
  .animation(spin 2s infinite linear);
}

.keyframes(~'spin, 0%{transform: rotate(0deg)} 100%{ transform: rotate(359deg) }');

/* asq (asq-) */
/* viewer presentation modal */
.asq-slide-expand {
  position: fixed;
  top: 20%;
  right: 0%;
  color: gray;
  background: #FFF;
  border: 0;
}

#asq-slide-expanded-container {
  display:block;
  position:fixed;
  top:0;
  left:0;
  z-index: 999;
  width:100%;
  height: 100%;
  background: rgba(29, 29, 29, 0.8);
  pointer-events: auto;
}
#asq-slide-expanded {
  position: fixed;
  top: 50%;
  left: 50%;
  .transform(translate(-50%, -50%)); // Yeah, that's right!
  background: rgba(255, 255, 255, 1);
  border: 4px solid rgba(58, 58, 58, 1);
  max-height: 90%;
  width: 90%;
  display: block;
  overflow-y: auto;
}

#asq-slide-reduce {
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  padding: 1% 1% 0 0;
  font-size: xx-large;
  color: gray;
  background: rgba(0, 0, 0, 0);
  border: 0;
}

.asq-assessment-container {
  display: table;
  width: 100%;
}

.asq-assessment-outer {
  display: table-row;
  width: 100%;
}

.asq-assessment {
  display: table-cell;
  vertical-align:top;
}

.asq-assessment-inner {
  display: block;
/*   max-height: 500px;*/
  .display(flex);
  .flex-direction(column);
  .flex-grow(2);

  > .asq-flex-box{
    border: 0;
    border-top: 2px solid rgba(58, 58, 58, 1);
    border-bottom: 2px solid rgba(58, 58, 58, 1);
    &:last-of-type {
      border-top-width: 0px;
      border-bottom-width: 0px;
      .justify-content(flex-end);
      > .pull-right {
        margin: 0.4em;
        width: 22%;
      }
    }
  }
}

.asq-flex-box {
  .flex(0.5);
  .display(flex);
  width: 100%;
  margin: 0;
  height: 100%;
  max-height: 33%;

  .asq-flex-col {
    .flex(0.5);
    padding: 12px;
    max-height: 33%;
    overflow-x: hidden;
  }

  .asq-flex-handle {
    width: 2px;
    background: rgba(80, 80, 80, 1);
    text-align: center;
    color: white;
    transition: all ease-in 0.1s;
  }
}

.asq-draggable {
    background: pink;
}

// TODO: name is too generic;
.text-right > button {
    margin-right: 14px;
}

/*------------ Confidence ------------*/
.asq-confidence-label {
    font-style: italic;
    color: #555;
}

/* asq-microformat rating widget */
.asq-rating-widget {
  vertical-align: middle;
  margin-right: 1em;

  > small {
    vertical-align: text-top;
  }
}

.asq-rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    margin-left: .2em;

    &.disabled:hover .asq-rating-star {
      cursor: not-allowed;
    }

    &:hover:not(.disabled){
      .asq-rating-star{
        &:hover{
          &:before{
            content: "\2605";
          }
          &:not(.disabled){
            ~ .asq-rating-star:before{
              content: "\2605";
            }
          }
        }

        &:before{
          content: "\2606";
        }
      }
      .asq-rating-input:checked:not(disabled) + .asq-rating-star:before {
        color: #5cb85c;
      }
    }
}

.asq-rating-star{
  display: inline-block;
  position: relative;
  width: 1.1em;
  color: #f0ad4e;

  &:before {
    content: "\2606";
  }
}


.asq-rating-input{
  display: none;

  &:checked ~ .asq-rating-star:before {
    content: "\2605";
  }
}


/* asq-microformat rubric */
.asq-rubric-grade {
    float:right;
}
.asq-rubric-group {
    width: 100%;
}
.asq-rubric-list {
  list-style-type: none;

  > li {
    overflow: hidden;
    margin: 0 0 -1px 0; /* -1 to avoid double borders */
  }
}

.asq-rubric-elem{
  float:left;
  margin-right: 4px;
  padding: .3em;
  padding-left: 0;

  &:first-child {
    max-width: 25%;
  }

  &:last-child {
    max-width: 85%;
  }

  > input {
    display: block;
    margin: 0.3em auto;
    vertical-align: text-bottom;
  }

  > span {
    display: block;
    margin: 0 auto;
    margin-top: .5em;
  }
}